body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("../public/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ),url("../public/background-blurred.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  width: 100%
}

.search-title {
  color: white;
  font-weight: 100;
}

.emphasis-text {
  color: #69F0AE;
  font-size: 30px;
  font-weight: 300;
}

#nav-bar {
  top: 0;
  margin-bottom: 6em;
  padding: 5px 25px 5px 25px;
  height: 35px;
  line-height: 35px;
  text-align: left;
}

.nav-button {
  background:none;
  border:none;
  font-size: 1em;
  cursor: pointer;
  font-weight: 300;
  color: #e3e3e3;
  border: none;
  outline: none;
}

.nav-button:hover {
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  color: white;
}

button, input, select, textarea {
  color: inherit;
  font: inherit;
  color: white;
}

.form-container {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search-container {
  display: block;
  position: relative;
  padding: 1.3em 1em;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.44em;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-submit {
  font: inherit;
  display: block;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  padding: 0.5em;
  margin: 0 auto;
  margin-top: 1em;
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  background-clip: padding-box;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-input {
  max-width: 530px;
  background: none;
  width: 100%;
  padding: 0.7em;
  box-sizing: border-box;
  border: 2px solid #cdd2d4;
  background-clip: padding-box;
}

.form-input:hover {
  border: 2px solid white;
}

.recipe-cards {
  margin: 1em;
  padding: 1em;
  border: 1px solid white;
  color: white;
}

.loading {
  border-radius: 50%;
  margin-top: 1em;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.loading-container {
  display: block;
  margin-top: 2em;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
