body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  width: 100%
}

#nav-bar {
  top: 0;
  margin: 0;
  padding: 5px 5px 5px 20px;
  background-color: #536DFE;
  height: 33px;
  line-height: 33px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-button {
  background:none;
  border:none;
  font-size:1em;
  cursor: pointer;
  color: #e3e3e3;
  border: none;
  outline: none;
}

.nav-button:hover {
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: #a5acb0;
  -webkit-box-shadow: 0 0 6px #cdd2d4;
  -moz-box-shadow: 0 0 6px #cdd2d4;
  box-shadow: 0 0 6px #cdd2d4;
}

button, input, select, textarea {
  color: inherit;
  font: inherit;
}

.form-container {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search-container {
  display: block;
  padding: 1.3em 1em;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.44em;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-submit {
  font: inherit;
  display: inline-block;
  position: relative;
  margin: 0 0 0 0.1em;
  cursor: pointer;
  padding: 0.74em 1em;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: white;
  border: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-clip: padding-box;
}

.form-submit:hover {
  background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
}

.form-submit:active {
  background: linear-gradient(to bottom, #519839 0, #49852e 100%);
}

.form-submit:focus {
  background: linear-gradient(to bottom, #519839 0, #49852e 100%);
}

.form-input {
  max-width: 430px;
  background: #FAFAFA;
  width: 100%;
  padding: 0.7em;
  box-sizing: border-box;
  border: 1px solid #cdd2d4;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-clip: padding-box;
}
.form-input:hover {
  border: 1px solid #b6bbbf;
}
