body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("../public/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: underline;
  font-weight: 500;
  color: #F54882;
}

#blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  width: 100%
}

#home-title {
  color: white;
  font-weight: 500;
  margin: 1.3em 0;
  font-size: 2.7em;
}

.title {
  color: white;
  font-weight: 500;
  margin: 1em 0;
  font-size: 2em;
}

.description {
  color: white;
  font-weight: 300;
  margin: 1em 0;
  font-size: 1.1em;
  line-height: 1.6;
}

.emphasis-text {
  color: white;
  font-size: 30px;
  font-weight: 100;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.emphasis-text:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #69F0AE;
  -moz-transition: width 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: width 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: width 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: width 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.emphasis-text:hover:after {
  width: 100%;
}

.emphasis-text:hover {
  color: #69F0AE;
}

.error-text {
  text-align: center;
  color: #F54882;
  font-size: 25px;
  font-weight: 300;
}

.error-container {
  margin: 0 2em;
  padding: 1em;
}

#nav-bar {
  top: 0;
  padding: 5px 25px 5px 25px;
  height: 35px;
  line-height: 35px;
  text-align: left;
}

.nav-button {
  background:none;
  border:none;
  font-size: 1em;
  cursor: pointer;
  font-weight: 300;
  color: #e3e3e3;
  border: none;
  outline: none;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-button:hover {
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  color: white;
}

button, input, select, textarea {
  color: inherit;
  font: inherit;
  color: white;
}

.content-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.flexed-result-container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.search-container {
  display: block;
  position: relative;
  padding: 1.3em 1em;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.44em;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-submit {
  font: inherit;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0.6em 1em;
  margin: 0 auto;
  margin-top: 2em;
  text-decoration: none;
  background: none;
  border: none;
  background-clip: padding-box;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-input {
  max-width: 530px;
  background: none;
  width: 100%;
  padding: 0.7em;
  box-sizing: border-box;
  border: 1px solid #cdd2d4;
  background-clip: padding-box;
  -moz-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-input:hover {
  border-color: white;
}

.form-input:focus {
  border-color: white;
}

.recipe-cards {
  display: inline-block;
  margin: 0.6em;
  padding: 1em;
  border: 1px solid #cdd2d4;
  color: white;
  text-align: left;
  width: 300px;
  -moz-transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.recipe-cards:hover {
  background-color: #70BCED;
}

.recipe-cards .title {
  font-weight: 600;
  font-size: 2em;
  margin: 0.3em 0;
  color: #69F0AE;
}

.recipe-cards .ratings {
  font-weight: 500;
  font-size: 1em;
  color: #FFEB3B;
}

.loading {
  border-radius: 50%;
  margin-top: 1em;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: #69F0AE;
  -webkit-animation: spin 3s infinite linear;
  animation: spin 1s infinite linear;
}

.loading-container {
  display: block;
  margin-top: 2em;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#acknowledgements {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 10px;
  text-align: right;
  padding: 0.5em 0.5em;
  color: rgba(227, 227, 227, 0.7);
}

.about {
  text-align: left;
  padding: 1em;
}

.ingredients {
  line-height: 1.4;
  font-size: 1em;
}

.separator {
  border-top: 5px solid #F54882;
  padding: 0;
  margin: 0.7em 0;
  width: 5%;
}

.ingred {
  font-size: 1.2em;
}
